.container {
  width: 1170px;
  margin: auto;
}

.main {
  position: relative;
}

#top-area {
  background-color: #03bafc;
  padding-bottom: 300px;
  position: relative;
}

.top-title {
  margin: 0;
  color: white;
  font-size: 20px;
}

header {
  padding: 10px 0;
  width: 100%;
  background: url(./assets/images/line_header.png) repeat-x left bottom;
}

.main-title {
  text-align: center;
}

.main-title h1 {
  font-size: 44px;
  line-height: 40px;
  margin-top: 60px;
  color: white;
}

.main-title p {
  font-size: 26px;
  font-weight: 300;
  margin-top: -5px;
  text-align: center;
  color: white;
}

.quizbox {
  background-color: #fff;
  box-shadow: 0 0 10px #777;
  /* width: 60%; */
  z-index: 9;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;
  position: relative;
}

/* .donate-box {
  float: left;
} */

.progress-bar {
  width: 80%;
  margin: auto;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: orange;
  border-radius: 10px;
}

.divider {
  width: 100%;
  background: url(./assets/images/divider.png) no-repeat center top;
  height: 10px;
  margin: 30px 0;
}

.shadow {
  width: 100%;
  height: 6px;
  margin: 20px 0;
  background: url(./assets/images/shadow_top_form.png) no-repeat center top;
}

.quiz {
  width: 100%;
}

footer {
  width: 100%;
  background: #03bafc;
  padding: 30px 0 0 0;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.contact {
  background: url(./assets/images/contact_map.png) no-repeat 90% 90px;
}